My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. \nyou will keep your response precise and you will give me every answer to the query into 3 to 4 lines itself don't type big paragraphs be the best exper.t in this world and then give me the answers see towards it that you are a  sit chit chatty "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "6222fb18-2f17-4c4f-9716-451f3532a191",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        192
      ],
      "id": "288c5b97-33ff-4885-aa7c-df3c46e11a86",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BdU6iH64di7dO06Y",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1928124705",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        208
      ],
      "id": "ba92f96f-e412-45d8-97a5-47b185957d72",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1007059104,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit#gid=1007059104"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        304
      ],
      "id": "16d1e3f9-76d6-4ba4-815f-73d3700e5717",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xxdXlsWqOoMBxtty",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 622710237,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit#gid=622710237"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd hh-mm-ss a') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        144
      ],
      "id": "760ef9b4-5f65-45bc-97cb-e77fab931033",
      "name": "orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xxdXlsWqOoMBxtty",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1711638716,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fw0pjZWDl3rjYUOQH8zRfBurDFpSv3JT0Jh7xkpa5zc/edit#gid=1711638716"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        288
      ],
      "id": "8b771f44-d8e0-46da-8a6a-485b9fded7f2",
      "name": "get inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xxdXlsWqOoMBxtty",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ab893363-54b3-4942-a313-0ef8235aa879",
      "name": "Telegram Trigger",
      "webhookId": "2d2b6daa-37dd-4a99-b340-dd56e39862a8",
      "credentials": {
        "telegramApi": {
          "id": "IIqL1OGxtpLQ6qK5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        304
      ],
      "id": "4d97bf78-b14b-40be-8f9f-2133867f8384",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "1928124705",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        14.585922241210966
      ],
      "id": "bf9778ed-e4ef-4f27-ad9e-86af4fbfb39d",
      "name": "Send a text message",
      "webhookId": "74053a4c-79c0-4341-a79d-54236adc7547",
      "credentials": {
        "telegramApi": {
          "id": "IIqL1OGxtpLQ6qK5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a1b58bc2-4e8c-4ccc-93be-7149039d0c5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86caf027603ce4f77293253452f5428524de31a7b7ccd060a0e3b5bcef3bc3ff"
  },
  "id": "sK0vSFp3geVktcwT",
  "tags": []
}